@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

:root {
  --white: hsl(0, 0%, 97%);
  --main-blue-hsl: 210, 98%, 24%;
  --main-grey-hsl: 0, 0%, 25%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
select {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

h1,
p {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.app-header {
  background-image: url('https://img.freepik.com/free-vector/abstract-business-professional-background-banner-design-multipurpose_1340-16858.jpg?w=1380&t=st=1671553865~exp=1671554465~hmac=16b084ba3f1e80beba9acef7e098de6acf26b5ab23df9985f2d00237ce1bfc9c');
  background-size: cover;
  height: 50vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2%;
}

.header-text-block {
  max-width: 1164px;
  text-align: center;
  padding: 2% 0;
}

.header-text {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.5;
  color: var(--white);
}

.main-frame {
  background-color: white;
  max-width: 700px;
  width: 100%;
  height: 322px;
  border-radius: 20px;
  box-shadow: 0px 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-content {
  padding: 2.5rem 4% 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
}

.main-frame-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-row {
  align-items: flex-end;
}

.currency-picker {
  flex-shrink: 1;
}

.currency-picker__label {
  font-size: 0.8rem;
  display: block
}

.currency-picker__input {
  padding: 8px;
  border: 1px solid hsla(var(--main-grey-hsl), 0.3);
  border-radius: 6px 0 0 6px;
  border-right: none;
  box-shadow: rgb(0 17 51 / 5%) 0px 3px 15px;
  outline: none;
  width: 100%
}

.currency-picker__input::-webkit-outer-spin-button,
.currency-picker__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input-wrapper {
  display: flex;
  border-radius: 6px;
}

.input-wrapper:focus-within {
  box-shadow: hsla(var(--main-blue-hsl), 0.2) 0px 2px 4px;
}

.currency-picker__select select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 8px 1em 8px 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  min-width: 100%;
}

.currency-picker__select {
  /* display: inline-block; */
  border: 1px solid hsla(var(--main-grey-hsl), 0.3);
  border-radius: 0 6px 6px 0;
  border-left: none;
  box-shadow: rgb(0 17 51 / 5%) 0px 3px 15px;
}

.reverse-button {
  border: 1px solid hsla(var(--main-grey-hsl), 0.3);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: hsl(var(--main-blue-hsl));
}

.currency-rates {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  margin-left: 2rem;
  flex-shrink: 0;
}

.currency-rates__item {
  font-size: 0.8rem;
  font-weight: 400;
  color: hsl(var(--main-grey-hsl));
}

.conversion-result__item {
  font-weight: 700;
  color: hsla(var(--main-grey-hsl), 0.8);
  line-height: 1.5;
}

.conversion-result__base {
  font-size: 1rem;
}

.conversion-result__final {
  font-size: 1.8rem;
  color: hsl(var(--main-blue-hsl));
  cursor: pointer;
}

.conversion-result__final_grey-text {
  color: hsla(var(--main-grey-hsl), 0.8);
}

.conversion-result__disclaimer {
  color: hsla(var(--main-grey-hsl), 0.8);
  font-size: 0.75rem;
  font-weight: 500;
}

.disclaimer {
  color: hsl(var(--main-grey-hsl));
  background-color: hsla(var(--main-blue-hsl), 0.1);
  border-radius: 6px;
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.disclaimer__text {
  padding: 0.7rem 0;
}

.bi-info-circle {
  padding-left: 0.7rem;
}

@media(max-width: 700px) {
  .header-text {
    font-size: 1.5rem;
  }

  .input-row {
    flex-direction: column;
    align-items: normal;
  }

  .reverse-button {
    align-self: center;
    margin-top: 1rem;
    width: 3rem;
    height: 3rem;
  }

  .main-frame {
    height: 100%;
    max-width: 500px;
  }

  .main-content {
    gap: 2.5rem;
  }
}